---
import { getEntry, type CollectionEntry } from "astro:content";
import { Icon } from "@astrojs/starlight/components";

export interface Props {
  slug: CollectionEntry<"glossary">["slug"];
  label?: string;
}

const glossaryEntry = await getEntry("glossary", Astro.props.slug);
const { Content } = await glossaryEntry.render();
---

<glossary-link>
  <a href={`/reference/glossary#${glossaryEntry.slug}`} class="link">
    <span class="link-content"
      >{Astro.props.label ?? glossaryEntry.data.defaultLabel}</span
    ><Icon name="information" class="icon" />
  </a>

  <template class="card">
    <p class="glossary-link">
      <a href={`/reference/glossary#${glossaryEntry.slug}`}>
        Go to glossary
      </a>&nbsp;<Icon name="right-arrow" class="icon arrow-icon" />
    </p>

    <Content />

    <p class="external-link">
      <a href={glossaryEntry.data.externalUrl} target="_blank" rel="nofollow">
        Learn more&nbsp;<Icon name="external" class="icon" />
      </a>
    </p>
  </template>
</glossary-link>

<script>
  function isSmallScreen() {
    return window.matchMedia("screen and (max-width: 632px)").matches;
  }
  function getCardTopValue(rect: DOMRect): [string, string] {
    if (rect.top < window.innerHeight / 2 + 30) {
      return [`${rect.top + rect.height + 6}px`, "unset"];
    }

    return ["unset", `${window.innerHeight - rect.bottom + 26}px`];
  }

  class GlossaryLinkCustomElement extends HTMLElement {
    constructor() {
      super();

      let isHoverlingCard = false;
      let scrollY = window.scrollY;
      let hasBeenClicked = false;
      let isBottom = true;
      const link = this.querySelector("a")!;
      const template = this.querySelector("template")!;
      const card = document.createElement("article");
      card.innerHTML = template.innerHTML;
      card.classList.add("glossary-card");

      link.addEventListener("mouseenter", () => {
        if (isSmallScreen()) return;
        const rect = link.getBoundingClientRect();
        const [top, bottom] = getCardTopValue(rect);
        card.style.top = top;
        card.style.bottom = bottom;
        isBottom = top === "unset";

        if (rect.left < document.body.clientWidth / 2) {
          card.style.left = `${rect.left}px`;
        } else {
          card.style.right = `${document.body.clientWidth - rect.right}px`;
        }

        setTimeout(() => document.body.prepend(card), 250);
      });

      link.addEventListener("mouseleave", () => {
        setTimeout(() => {
          if (!isHoverlingCard) card.remove();
        }, 250);
      });

      window.addEventListener("click", (e) => {
        if (!hasBeenClicked) return;
        hasBeenClicked = false;
        if (!card.contains(e.target as Node))
          setTimeout(() => card.remove(), 250);
      });

      link.addEventListener("click", (e) => {
        if (!isSmallScreen()) return;
        e.preventDefault();

        setTimeout(() => {
          hasBeenClicked = true;
          const rect = link.getBoundingClientRect();
          const [top, bottom] = getCardTopValue(rect);
          card.style.top = top;
          card.style.bottom = bottom;
          isBottom = top === "unset";
          card.style.left = "16px";
          setTimeout(() => document.body.prepend(card), 250);
        });
      });

      card.addEventListener("mouseenter", () => (isHoverlingCard = true));

      card.addEventListener(
        "mouseleave",
        () => ((isHoverlingCard = false), setTimeout(() => card.remove(), 250))
      );

      window.addEventListener("scroll", () => {
        const scrollYOffset = window.scrollY - scrollY;
        scrollY = window.scrollY;

        if (!isBottom) {
          const currentTop = +card.style.top.replace("px", "");
          card.style.top = `${currentTop - scrollYOffset}px`;
        } else {
          const currentBottom = +card.style.bottom.replace("px", "");
          card.style.bottom = `${currentBottom + scrollYOffset}px`;
        }
      });
    }
  }

  // Tell the browser to use our AstroHeart class for <astro-heart> elements.
  customElements.define("glossary-link", GlossaryLinkCustomElement);
</script>

<style>
  glossary-link {
    display: contents;
  }

  .link {
    text-decoration: none;
  }

  .link-content {
    text-decoration: underline;
  }

  :global(.glossary-card) {
    position: fixed;
    z-index: 6;
    background-color: var(--sl-color-bg);
    max-width: 30rem;
    padding: 1rem 1.5rem;
    border: 1px solid var(--sl-color-gray-5);
  }

  .icon {
    display: inline-block !important;
  }

  .glossary-link {
    display: none;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  .arrow-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .external-link {
    margin-top: 1.5rem;
  }

  @media screen and (max-width: 632px) {
    :global(.glossary-card) {
      width: calc(100% - 2rem);
    }

    .glossary-link {
      display: block;
    }
  }
</style>
